body {
    background-color: #141414;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
    color: #BEBEBE;
    font-family: sans-serif;
}

#container {
    position: relative;
    float: left;
}

#control {
    margin-top: 100px;
    width: 350px;
    height: 400px;
    background-color: #000;
    padding: 0px 50px 0px 20px;
    position: relative;
    float: left;
}

#control ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 40px;
    color: black;
}

#control li {
     display: inline;
     height: 50px;
     width: 50px; 
     border: 1px solid black;
}

#control h3 {
    font-variant: small-caps;
    border-bottom: 2px solid #bebebe;
    margin: 0px 0px 10px 0px;
}

.tapes {
    width: 380px;
    margin-bottom: 80px;
}

.tapes div {
    position: relative;
    float: left;
    margin-right: 15px;
    height: 50px;
    width: 60px;
}

/* TAPE COLORS */ 

.black {
    background-color: #000;
    border: 1px solid white;
}

.white {
    background-color: #fff;
}

.pink {
    background-color: #ff6699;
}

.light_blue {
    background-color: #1B70E0;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}


/*Secondary Tape */

.yellow {
    background-color: purple;
}

/*Grip Tape */
.neon_pink {
    background-color: #FF0066;
}

.neon_yellow {
    background-color: #D1FF03;
}

.neon_green {
    background-color: #0DE032;
}

.neon_orange {
    background-color: #FF1918;
}

.gray {
    background-color: gray;
}