<!DOCTYPE html> 
<html> 
  <head> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/shop.css" /> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <title>hoopoid :: store</title> 
  </head> 
  <body> 
    <div id="wrapper"> 
      <div id="header"> 
	<div id="header_group"> 
	  <div id="title"> 
	    <h1><a href="./home.html">hoopoid</a></h1> 
	  </div> 
	  <div id="navigation"> 
	    <ul> 
	      <li id="home"><a href="./home.html" title="pink">home</a></li> 
	      <li id="shop"><a href="./store.html" class="yellow selected" title="yellow">store</a></li> 
	      <li id="about"><a href="./about.html" title="blue">about</a></li> 
	      <li id="contact"><a href="./contact.html" title="green">contact</a></li> 
	    </ul> 
	  </div> 
	</div> 
      </div> 
      
      <div id="content_group"> 
	<div class="item">
	  
	  {% if hoop_list %}
	  {% for hoop in hoop_list %}
	  <div class="item">

	    <div id="content_about" class="hoop_item"> 
	      <div class="hoop_header">
		<h3 class="{{ hoop.header }}">{{ hoop.hoop|lower }}</h3><h4>${{ hoop.price }}</h4> 
	      </div>
	      <div id="hoop_image">
		<img src="media/{{ hoop.image }}">
	      </div>
	    </div> 
	    {% endfor %}

	    {% else %}
	    <p>No hoops are available.</p>
	    {% endif %}


	    <!--- Old HTML 
		  <div id="content_special" class="hoop_item"> 
	      <h3 class="green">special offers</h3> 
	      <p>Item</p> 
	    </div> 
	    
	    <div id="content_about" class="hoop_item"> 
	      <h3 class="blue">about hooping</h3> 
	      <p>Item</p> 
	    </div> 
	    <div id="content_special" class="hoop_item"> 
	      <h3 class="green">special offers</h3> 
	      <p>Item</p> 
	    </div> 
	    
	    <div id="content_about" class="hoop_item"> 
	      <h3 class="blue">about hooping</h3> 
	      <p>Item</p> 
	    </div> 
	    <div id="content_special" class="hoop_item"> 
	      <h3 class="green">special offers</h3> 
	      <p>Item</p> 
	    </div> 
	    
	    <div id="content_about" class="hoop_item"> 
	      <h3 class="blue">about hooping</h3> 
	      <p>Item</p> 
	    </div> 
	    <div id="content_special" class="hoop_item"> 
	      <h3 class="green">special offers</h3> 
	      <p>Item</p> 
	    </div> 
	    --->

	  </div> 
	  <div id="footer_group"> 
	    <div id="footer"> 
	      <div id="copyright"> 
		<p>2011 Hoopoid. All rights reserved.</p> 
	      </div> 
	    </div> 
	  </div> 
	</div> 
	
  </body> 
</html> 

<!--- Django template base
{% if hoop_list %}
{% for hoop in hoop_list %}
<div class="item">

  <div id="content_about" class="hoop_item"> 
    <div class="hoop_header">
      <h3 class="{{ hoop.header }}">{{ hoop.hoop }}</h3><h4>${{ hoop.price }}</h4> 
    </div>
    <div id="hoop_image">
      <img src="media/{{ hoop.image }}">
    </div>
  </div> 
  {% endfor %}

  {% else %}
  <p>No hoops are available.</p>
  {% endif %}


# PAYPAL BUTTON- rehost the imgur link!!

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5AXQRQLEJFSQS">
<table>
<tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr><tr><td><select name="os0">
	<option value="Small 8'">Small 8' </option>
	<option value="Medium 9'">Medium 9' </option>
	<option value="Large 10'">Large 10' </option>
</select> </td></tr>
</table>
<input type="image" src="http://i.imgur.com/aCRr3.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


--->
