{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/page.css" /> 
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
<title>hoopoid :: couture hoops</title> 
{% endblock %}

{% block content %}
<div id="content_group">
  <a href="{% url page template="store.html" %}">HAY GURL HAY</a>
	<div id="main_content" class="content">
	  <h3 class="pink">featured hoop</h3>
	  <img src="./media/hoops.jpg" />
	</div>
	<div id="content_about" class="content">
	  <h3 class="blue">about hooping</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel dapibus dui. Pellentesque rutrum interdum massa, nec bibendum nisi varius ac. Quisque dui enim, iaculis ut feugiat non, ullamcorper sed nunc. Aliquam egestas purus lorem. Sed consectetur laoreet odio id dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Curabitur porta sollicitudin mauris, vestibulum volutpat mauris porta sagittis. Sed ultrices sollicitudin ligula a pellentesque. Aenean consectetur mollis mattis. Donec gravida, ipsum ac euismod volutpat, lorem lacus pharetra erat, ac vulputate dui diam ac nibh. Vestibulum in urna tortor. Quisque consectetur metus et augue pellentesque porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In iaculis egestas iaculis.
	  </p>
	</div>
	<div id="content_special" class="content">
	  <h3 class="green">special offers</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel dapibus dui. Pellentesque rutrum interdum massa, nec bibendum nisi varius ac. Quisque dui enim, iaculis ut feugiat non, ullamcorper sed nunc. Aliquam egestas purus lorem. Sed consectetur laoreet odio id dapibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Curabitur porta sollicitudin mauris, vestibulum volutpat mauris porta sagittis. Sed ultrices sollicitudin ligula a pellentesque. Aenean consectetur mollis mattis. Donec gravida, ipsum ac euismod volutpat, lorem lacus pharetra erat, ac vulputate dui diam ac nibh. Vestibulum in urna tortor. Quisque consectetur metus et augue pellentesque porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In iaculis egestas iaculis.
	  </p>
	</div>
      </div>
{% endblock %}


